# Venture Funding with Deep Learning

A hypothetical venture capital firm Alphabet Soup has provided a CSV file of over 34,000 cases of organizational funding and the outcomes. The request for analysis is to attempt at making a neural networks which can predict whether an approved application for funding will result in a successful business.

First the data will be prepared for analysis. Then several models of neural networks will be run on the data to see what rate of successful prediction can be achieved. The accuracies of the various models will be displayed and compared. The neural network models will be saved in HDF5 format.

In [1]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define the features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("./Resources/applicants_data.csv"))

# Review the DataFrame
display(applicant_data_df)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the amount of successful startups in the dataset
print(applicant_data_df["IS_SUCCESSFUL"].sum())

18261

In [4]:
# Review the proportion of successful startups in the dataset
print(applicant_data_df["IS_SUCCESSFUL"].sum()/ applicant_data_df.shape[0])

0.5324061926003674

In [5]:
# Review the data types associated with the columns
display(applicant_data_df.dtypes)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
display(applicant_data_df)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=="object"].index)

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
display(encoded_df)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
preprocessed_df = pd.concat([applicant_data_df.drop(columns=categorical_variables), encoded_df], axis=1)

# Review the Dataframe
display(preprocessed_df)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset is defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = preprocessed_df["IS_SUCCESSFUL"]

# Display a sample of y
display(y)

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = preprocessed_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
display(X)

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
print(number_input_features)

116

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + number_output_neurons)//2

# Review the number hidden nodes in the first layer
display(hidden_nodes_layer1)

58

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + number_output_neurons)//2

# Review the number hidden nodes in the second layer
display(hidden_nodes_layer2)

29

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [22]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 555us/step - loss: 0.5736 - accuracy: 0.7211
Epoch 2/50
804/804 [==============================] - 0s 557us/step - loss: 0.5537 - accuracy: 0.7294
Epoch 3/50
804/804 [==============================] - 0s 554us/step - loss: 0.5491 - accuracy: 0.7317
Epoch 4/50
804/804 [==============================] - 0s 560us/step - loss: 0.5472 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 0s 560us/step - loss: 0.5463 - accuracy: 0.7333
Epoch 6/50
804/804 [==============================] - 0s 558us/step - loss: 0.5447 - accuracy: 0.7327
Epoch 7/50
804/804 [==============================] - 0s 560us/step - loss: 0.5435 - accuracy: 0.7341
Epoch 8/50
804/804 [==============================] - 0s 561us/step - loss: 0.5435 - accuracy: 0.7340
Epoch 9/50
804/804 [==============================] - 0s 560us/step - loss: 0.5430 - accuracy: 0.7338
Epoch 10/50
804/804 [==============================] - 0s 557us/step - loss: 0.5414 - accuracy: 0.7360
Epoch 11/50
804/804 [==============================] - 0s 558us/step - loss: 0.5409 - accuracy: 0.7353
Epoch 12/50
804/804 [==============================] - 0s 557us/step - loss: 0.5408 - accuracy: 0.7355
Epoch 13/50
804/804 [==============================] - 0s 559us/step - loss: 0.5400 - accuracy: 0.7369
Epoch 14/50
804/804 [==============================] - 0s 558us/step - loss: 0.5393 - accuracy: 0.7370
Epoch 15/50
804/804 [==============================] - 0s 557us/step - loss: 0.5395 - accuracy: 0.7355
Epoch 16/50
804/804 [==============================] - 0s 556us/step - loss: 0.5388 - accuracy: 0.7365
Epoch 17/50
804/804 [==============================] - 0s 563us/step - loss: 0.5382 - accuracy: 0.7387
Epoch 18/50
804/804 [==============================] - 0s 561us/step - loss: 0.5383 - accuracy: 0.7374
Epoch 19/50
804/804 [==============================] - 0s 560us/step - loss: 0.5380 - accuracy: 0.7376
Epoch 20/50
804/804 [==============================] - 0s 554us/step - loss: 0.5376 - accuracy: 0.7379
Epoch 21/50
804/804 [==============================] - 0s 560us/step - loss: 0.5369 - accuracy: 0.7370
Epoch 22/50
804/804 [==============================] - 0s 561us/step - loss: 0.5372 - accuracy: 0.7377
Epoch 23/50
804/804 [==============================] - 0s 569us/step - loss: 0.5368 - accuracy: 0.7376
Epoch 24/50
804/804 [==============================] - 0s 555us/step - loss: 0.5368 - accuracy: 0.7380
Epoch 25/50
804/804 [==============================] - 0s 556us/step - loss: 0.5361 - accuracy: 0.7382
Epoch 26/50
804/804 [==============================] - 0s 556us/step - loss: 0.5363 - accuracy: 0.7376
Epoch 27/50
804/804 [==============================] - 0s 564us/step - loss: 0.5363 - accuracy: 0.7380
Epoch 28/50
804/804 [==============================] - 0s 559us/step - loss: 0.5354 - accuracy: 0.7397
Epoch 29/50
804/804 [==============================] - 0s 558us/step - loss: 0.5356 - accuracy: 0.7380
Epoch 30/50
804/804 [==============================] - 0s 562us/step - loss: 0.5354 - accuracy: 0.7379
Epoch 31/50
804/804 [==============================] - 0s 585us/step - loss: 0.5350 - accuracy: 0.7395
Epoch 32/50
804/804 [==============================] - 0s 614us/step - loss: 0.5345 - accuracy: 0.7391
Epoch 33/50
804/804 [==============================] - 1s 631us/step - loss: 0.5347 - accuracy: 0.7384
Epoch 34/50
804/804 [==============================] - 0s 617us/step - loss: 0.5346 - accuracy: 0.7404
Epoch 35/50
804/804 [==============================] - 1s 625us/step - loss: 0.5341 - accuracy: 0.7394
Epoch 36/50
804/804 [==============================] - 1s 627us/step - loss: 0.5341 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 1s 623us/step - loss: 0.5338 - accuracy: 0.7391
Epoch 38/50
804/804 [==============================] - 1s 668us/step - loss: 0.5342 - accuracy: 0.7400
Epoch 39/50
804/804 [==============================] - 0s 610us/step - loss: 0.5340 - accuracy: 0.7398
Epoch 40/50
804/804 [==============================] - 1s 625us/step - loss: 0.5336 - accuracy: 0.7406
Epoch 41/50
804/804 [==============================] - 0s 615us/step - loss: 0.5333 - accuracy: 0.7402
Epoch 42/50
804/804 [==============================] - 0s 571us/step - loss: 0.5338 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 0s 569us/step - loss: 0.5331 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 0s 576us/step - loss: 0.5330 - accuracy: 0.7411
Epoch 45/50
804/804 [==============================] - 0s 564us/step - loss: 0.5328 - accuracy: 0.7407
Epoch 46/50
804/804 [==============================] - 0s 575us/step - loss: 0.5324 - accuracy: 0.7406
Epoch 47/50
804/804 [==============================] - 0s 572us/step - loss: 0.5325 - accuracy: 0.7404
Epoch 48/50
804/804 [==============================] - 0s 576us/step - loss: 0.5323 - accuracy: 0.7399
Epoch 49/50
804/804 [==============================] - 0s 576us/step - loss: 0.5325 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 0s 577us/step - loss: 0.5321 - accuracy: 0.7406

### Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5574 - accuracy: 0.7318 - 166ms/epoch - 618us/step
Loss: 0.5573562979698181, Accuracy: 0.7317784428596497

### Save and export the first model to an HDF5 file. Name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = Path("./AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Several attempts will be made to optimize the neural network model, to see if increased accuracy can be achieved.

Here, four attempts are made:

- The first alternative model will be identical to the first one, except with some different preprocessing of the data. Two columns which have all the same value are removed. The column of the income amount of the organization is changed from a range to the value at the upper end of that range. The income amount and ask amounts are first scaled with a natural log function before StandardScaler is applied.

- The second alternative model will also use the same alternative preprocessing and neural network structure as the first, but use the Nadam optimization function.

- The third alternative model will ukse the same alternative preprocessing, the Nadam optimization function, but use four layers of neurons.

- The fourth alternative model will attempt to see if a higher rate of accuracy can be achieved with only considering data for funding ask amounts of under 1 million dollars. It will use the same preprocessing as the other alternative models and the Nadam optimization function, and with two layers of neurons.

### Alternative Preprocessing 1:

This attempt at a different preprocessing technique does three things in addition to the other preprocessing done for the first attempt:

- Removes two columns, `STATUS` and `SPECIAL_CONSIDERATIONS`, which appear to have all the same value in them
- For the `INCOME_AMT` column, which shows ranges, it will be changed to the upper value of that range.
- The `INCOME_AMT` and `ASK_AMT` will be scaled using natural logarithm before the StandardScaler is applied.

In [29]:
# Preprocessing Alt-1:

In [30]:
# remove STATUS and SPECIAL_CONSIDERATIONS columns, as they appear to have all the same value in them.
applicant_data_df_a1 = applicant_data_df.drop(columns=["STATUS", "SPECIAL_CONSIDERATIONS"])

In [31]:
# review new dataframe
display(applicant_data_df_a1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [32]:
# retrieve max ASK_AMT
applicant_data_df_a1["ASK_AMT"].max()

8597806340

In [33]:
# apply natural log scale to ASK_AMT
applicant_data_df_a1["ASK_AMT"]=np.log(applicant_data_df_a1["ASK_AMT"])

In [34]:
# review modified dataframe
display(applicant_data_df_a1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,8.517193,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,11.595335,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,8.517193,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,8.808668,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,11.867729,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,8.517193,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,8.517193,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,8.517193,0
34297,T5,Independent,C3000,ProductDev,Association,0,8.517193,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,17.412828,0

In [35]:
# find all categories of INCOME_AMT
applicant_data_df_a1["INCOME_AMT"].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [36]:
# relabel each income group by the max value it can represent. for 50M+, will use 10 billion, as the highest value asked for in the data set is in the 8 billion range. Used 1 for 0 so log function will work and return 0.
applicant_data_df_a1["INCOME_AMT"] = applicant_data_df_a1["INCOME_AMT"].replace(["0", "25000-99999", "100000-499999", "1M-5M", "1-9999", "10000-24999", "10M-50M", "5M-10M", "50M+"], [1, 100000, 500000, 5000000, 10000, 25000, 50000000, 10000000, 10000000000])

In [37]:
# review modified dataframe
display(applicant_data_df_a1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,8.517193,1
1,T3,Independent,C2000,Preservation,Co-operative,10000,11.595335,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,8.517193,0
3,T3,CompanySponsored,C2000,Preservation,Trust,25000,8.808668,1
4,T3,Independent,C1000,Heathcare,Trust,500000,11.867729,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,8.517193,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,8.517193,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,8.517193,0
34297,T5,Independent,C3000,ProductDev,Association,1,8.517193,1
34298,T3,Independent,C1000,Preservation,Co-operative,5000000,17.412828,0

In [38]:
# apply natural log to income amounts
applicant_data_df_a1["INCOME_AMT"]=np.log(applicant_data_df_a1["INCOME_AMT"])

In [39]:
# review modified dataframe
display(applicant_data_df_a1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0.000000,8.517193,1
1,T3,Independent,C2000,Preservation,Co-operative,9.210340,11.595335,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0.000000,8.517193,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10.126631,8.808668,1
4,T3,Independent,C1000,Heathcare,Trust,13.122363,11.867729,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0.000000,8.517193,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0.000000,8.517193,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0.000000,8.517193,0
34297,T5,Independent,C3000,ProductDev,Association,0.000000,8.517193,1
34298,T3,Independent,C1000,Preservation,Co-operative,15.424948,17.412828,0

In [40]:
# Recapitulation of preprocessing steps taken above, onehot encoding and standard scaler, but for the data with irrelevant columns removed and natural log for income and ask amounts.

In [41]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df_a1.dtypes[applicant_data_df_a1.dtypes=="object"].index)

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION']

In [42]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [43]:
# Encode the categorcal variables using OneHotEncoder
encoded_data_a1 = enc.fit_transform(applicant_data_df_a1[categorical_variables])

In [44]:
# Create a DataFrame with the encoded variables
encoded_df_a1 = pd.DataFrame(
    encoded_data_a1,
    columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
display(encoded_df_a1)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,CLASSIFICATION_C8210,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [45]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
preprocessed_df_a1 = pd.concat([applicant_data_df_a1.drop(columns=categorical_variables), encoded_df_a1], axis=1)

# Review the Dataframe
display(preprocessed_df_a1)

,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,CLASSIFICATION_C8210,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,0.000000,8.517193,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,9.210340,11.595335,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.000000,8.517193,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,10.126631,8.808668,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,13.122363,11.867729,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.000000,8.517193,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34295,0.000000,8.517193,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34296,0.000000,8.517193,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
34297,0.000000,8.517193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34298,15.424948,17.412828,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [46]:
# Define the target set y using the IS_SUCCESSFUL column
y = preprocessed_df_a1["IS_SUCCESSFUL"]

# Display a sample of y
display(y)

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [47]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = preprocessed_df_a1.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
display(X)

,INCOME_AMT,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,CLASSIFICATION_C8210,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,0.000000,8.517193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,9.210340,11.595335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,10.126631,8.808668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,13.122363,11.867729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34295,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34296,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
34297,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34298,15.424948,17.412828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [48]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [49]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

### Alternative Model 1

This model uses the same neural network structure as the first one, but uses alternatively preprocessed data. Several irrelevant columns were removed, income amounts ranges were replaced with representative values, and income and ask amounts were applied natural log functions before scaling.

In [50]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
display(number_input_features)

105

In [51]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [52]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1)//2

# Review the number of hidden nodes in the first layer
display(hidden_nodes_layer1_A1)

53

In [53]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + number_output_neurons)//2

# Review the number of hidden nodes in the first layer
display(hidden_nodes_layer2_A1)

27

In [54]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [55]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))          
          
# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 53)                5618

 dense_4 (Dense)             (None, 27)                1458

 dense_5 (Dense)             (None, 1)                 28

=================================================================
Total params: 7,104
Trainable params: 7,104
Non-trainable params: 0
_________________________________________________________________

In [56]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [57]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 558us/step - loss: 0.5745 - accuracy: 0.7202
Epoch 2/50
804/804 [==============================] - 0s 561us/step - loss: 0.5527 - accuracy: 0.7299
Epoch 3/50
804/804 [==============================] - 0s 564us/step - loss: 0.5493 - accuracy: 0.7313
Epoch 4/50
804/804 [==============================] - 0s 557us/step - loss: 0.5480 - accuracy: 0.7294
Epoch 5/50
804/804 [==============================] - 0s 585us/step - loss: 0.5465 - accuracy: 0.7313
Epoch 6/50
804/804 [==============================] - 0s 605us/step - loss: 0.5451 - accuracy: 0.7328
Epoch 7/50
804/804 [==============================] - 0s 606us/step - loss: 0.5447 - accuracy: 0.7321
Epoch 8/50
804/804 [==============================] - 1s 664us/step - loss: 0.5441 - accuracy: 0.7332
Epoch 9/50
804/804 [==============================] - 0s 620us/step - loss: 0.5436 - accuracy: 0.7340
Epoch 10/50
804/804 [==============================] - 0s 615us/step - loss: 0.5425 - accuracy: 0.7334
Epoch 11/50
804/804 [==============================] - 0s 612us/step - loss: 0.5420 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 0s 617us/step - loss: 0.5423 - accuracy: 0.7337
Epoch 13/50
804/804 [==============================] - 1s 631us/step - loss: 0.5418 - accuracy: 0.7344
Epoch 14/50
804/804 [==============================] - 1s 625us/step - loss: 0.5415 - accuracy: 0.7346
Epoch 15/50
804/804 [==============================] - 1s 635us/step - loss: 0.5404 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 0s 602us/step - loss: 0.5399 - accuracy: 0.7354
Epoch 17/50
804/804 [==============================] - 0s 580us/step - loss: 0.5396 - accuracy: 0.7352
Epoch 18/50
804/804 [==============================] - 0s 564us/step - loss: 0.5398 - accuracy: 0.7358
Epoch 19/50
804/804 [==============================] - 0s 599us/step - loss: 0.5398 - accuracy: 0.7366
Epoch 20/50
804/804 [==============================] - 1s 636us/step - loss: 0.5396 - accuracy: 0.7350
Epoch 21/50
804/804 [==============================] - 1s 640us/step - loss: 0.5391 - accuracy: 0.7359
Epoch 22/50
804/804 [==============================] - 0s 589us/step - loss: 0.5390 - accuracy: 0.7365
Epoch 23/50
804/804 [==============================] - 0s 562us/step - loss: 0.5388 - accuracy: 0.7372
Epoch 24/50
804/804 [==============================] - 0s 572us/step - loss: 0.5384 - accuracy: 0.7362
Epoch 25/50
804/804 [==============================] - 1s 622us/step - loss: 0.5385 - accuracy: 0.7357
Epoch 26/50
804/804 [==============================] - 0s 620us/step - loss: 0.5377 - accuracy: 0.7380
Epoch 27/50
804/804 [==============================] - 0s 603us/step - loss: 0.5376 - accuracy: 0.7363
Epoch 28/50
804/804 [==============================] - 0s 576us/step - loss: 0.5371 - accuracy: 0.7384
Epoch 29/50
804/804 [==============================] - 0s 569us/step - loss: 0.5373 - accuracy: 0.7373
Epoch 30/50
804/804 [==============================] - 0s 568us/step - loss: 0.5376 - accuracy: 0.7371
Epoch 31/50
804/804 [==============================] - 0s 574us/step - loss: 0.5368 - accuracy: 0.7382
Epoch 32/50
804/804 [==============================] - 0s 566us/step - loss: 0.5368 - accuracy: 0.7381
Epoch 33/50
804/804 [==============================] - 0s 570us/step - loss: 0.5364 - accuracy: 0.7384
Epoch 34/50
804/804 [==============================] - 0s 572us/step - loss: 0.5363 - accuracy: 0.7369
Epoch 35/50
804/804 [==============================] - 0s 569us/step - loss: 0.5360 - accuracy: 0.7381
Epoch 36/50
804/804 [==============================] - 0s 569us/step - loss: 0.5360 - accuracy: 0.7397
Epoch 37/50
804/804 [==============================] - 1s 664us/step - loss: 0.5357 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 0s 614us/step - loss: 0.5360 - accuracy: 0.7383
Epoch 39/50
804/804 [==============================] - 0s 588us/step - loss: 0.5354 - accuracy: 0.7395
Epoch 40/50
804/804 [==============================] - 0s 596us/step - loss: 0.5348 - accuracy: 0.7390
Epoch 41/50
804/804 [==============================] - 0s 586us/step - loss: 0.5356 - accuracy: 0.7383
Epoch 42/50
804/804 [==============================] - 0s 565us/step - loss: 0.5352 - accuracy: 0.7385
Epoch 43/50
804/804 [==============================] - 0s 577us/step - loss: 0.5351 - accuracy: 0.7392
Epoch 44/50
804/804 [==============================] - 0s 557us/step - loss: 0.5351 - accuracy: 0.7383
Epoch 45/50
804/804 [==============================] - 0s 593us/step - loss: 0.5346 - accuracy: 0.7394
Epoch 46/50
804/804 [==============================] - 0s 608us/step - loss: 0.5343 - accuracy: 0.7404
Epoch 47/50
804/804 [==============================] - 0s 595us/step - loss: 0.5344 - accuracy: 0.7404
Epoch 48/50
804/804 [==============================] - 0s 594us/step - loss: 0.5343 - accuracy: 0.7400
Epoch 49/50
804/804 [==============================] - 0s 565us/step - loss: 0.5342 - accuracy: 0.7395
Epoch 50/50
804/804 [==============================] - 0s 556us/step - loss: 0.5338 - accuracy: 0.7399

#### Alternative Model 2

This model also uses the alternatively preprocessed data, and the same neural network structure as the first attempt, but uses the `Nadam` optimization function instead of `adam`.

In [58]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
display(number_input_features)

105

In [59]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [60]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2)//2

# Review the number of hidden nodes in the first layer
display(hidden_nodes_layer1_A2)

53

In [61]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + number_output_neurons_A2)//2

# Review the number of hidden nodes in the first layer
display(hidden_nodes_layer2_A2)

27

In [62]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [63]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))          
          
# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 53)                5618

 dense_7 (Dense)             (None, 27)                1458

 dense_8 (Dense)             (None, 1)                 28

=================================================================
Total params: 7,104
Trainable params: 7,104
Non-trainable params: 0
_________________________________________________________________

In [64]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="Nadam", metrics=["accuracy"])

In [65]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 602us/step - loss: 0.5763 - accuracy: 0.7162
Epoch 2/50
804/804 [==============================] - 0s 545us/step - loss: 0.5541 - accuracy: 0.7282
Epoch 3/50
804/804 [==============================] - 0s 562us/step - loss: 0.5499 - accuracy: 0.7300
Epoch 4/50
804/804 [==============================] - 0s 564us/step - loss: 0.5482 - accuracy: 0.7313
Epoch 5/50
804/804 [==============================] - 0s 564us/step - loss: 0.5471 - accuracy: 0.7317
Epoch 6/50
804/804 [==============================] - 0s 557us/step - loss: 0.5457 - accuracy: 0.7313
Epoch 7/50
804/804 [==============================] - 0s 552us/step - loss: 0.5450 - accuracy: 0.7331
Epoch 8/50
804/804 [==============================] - 0s 558us/step - loss: 0.5440 - accuracy: 0.7325
Epoch 9/50
804/804 [==============================] - 0s 548us/step - loss: 0.5438 - accuracy: 0.7323
Epoch 10/50
804/804 [==============================] - 0s 553us/step - loss: 0.5429 - accuracy: 0.7339
Epoch 11/50
804/804 [==============================] - 0s 541us/step - loss: 0.5420 - accuracy: 0.7350
Epoch 12/50
804/804 [==============================] - 0s 542us/step - loss: 0.5419 - accuracy: 0.7358
Epoch 13/50
804/804 [==============================] - 0s 551us/step - loss: 0.5412 - accuracy: 0.7353
Epoch 14/50
804/804 [==============================] - 0s 540us/step - loss: 0.5409 - accuracy: 0.7345
Epoch 15/50
804/804 [==============================] - 0s 543us/step - loss: 0.5407 - accuracy: 0.7348
Epoch 16/50
804/804 [==============================] - 0s 549us/step - loss: 0.5405 - accuracy: 0.7352
Epoch 17/50
804/804 [==============================] - 0s 545us/step - loss: 0.5402 - accuracy: 0.7361
Epoch 18/50
804/804 [==============================] - 0s 551us/step - loss: 0.5394 - accuracy: 0.7364
Epoch 19/50
804/804 [==============================] - 0s 552us/step - loss: 0.5390 - accuracy: 0.7372
Epoch 20/50
804/804 [==============================] - 0s 548us/step - loss: 0.5392 - accuracy: 0.7360
Epoch 21/50
804/804 [==============================] - 0s 543us/step - loss: 0.5384 - accuracy: 0.7369
Epoch 22/50
804/804 [==============================] - 0s 542us/step - loss: 0.5385 - accuracy: 0.7359
Epoch 23/50
804/804 [==============================] - 0s 546us/step - loss: 0.5387 - accuracy: 0.7373
Epoch 24/50
804/804 [==============================] - 0s 542us/step - loss: 0.5381 - accuracy: 0.7366
Epoch 25/50
804/804 [==============================] - 0s 542us/step - loss: 0.5380 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 0s 549us/step - loss: 0.5380 - accuracy: 0.7364
Epoch 27/50
804/804 [==============================] - 0s 548us/step - loss: 0.5378 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 0s 552us/step - loss: 0.5373 - accuracy: 0.7369
Epoch 29/50
804/804 [==============================] - 0s 551us/step - loss: 0.5373 - accuracy: 0.7381
Epoch 30/50
804/804 [==============================] - 0s 556us/step - loss: 0.5372 - accuracy: 0.7367
Epoch 31/50
804/804 [==============================] - 0s 553us/step - loss: 0.5370 - accuracy: 0.7383
Epoch 32/50
804/804 [==============================] - 0s 548us/step - loss: 0.5368 - accuracy: 0.7393
Epoch 33/50
804/804 [==============================] - 0s 566us/step - loss: 0.5366 - accuracy: 0.7379
Epoch 34/50
804/804 [==============================] - 0s 592us/step - loss: 0.5365 - accuracy: 0.7375
Epoch 35/50
804/804 [==============================] - 0s 554us/step - loss: 0.5363 - accuracy: 0.7372
Epoch 36/50
804/804 [==============================] - 0s 611us/step - loss: 0.5360 - accuracy: 0.7380
Epoch 37/50
804/804 [==============================] - 0s 541us/step - loss: 0.5360 - accuracy: 0.7393
Epoch 38/50
804/804 [==============================] - 0s 545us/step - loss: 0.5356 - accuracy: 0.7380
Epoch 39/50
804/804 [==============================] - 0s 561us/step - loss: 0.5357 - accuracy: 0.7390
Epoch 40/50
804/804 [==============================] - 0s 564us/step - loss: 0.5359 - accuracy: 0.7371
Epoch 41/50
804/804 [==============================] - 0s 564us/step - loss: 0.5351 - accuracy: 0.7392
Epoch 42/50
804/804 [==============================] - 0s 540us/step - loss: 0.5350 - accuracy: 0.7403
Epoch 43/50
804/804 [==============================] - 0s 560us/step - loss: 0.5353 - accuracy: 0.7392
Epoch 44/50
804/804 [==============================] - 0s 566us/step - loss: 0.5349 - accuracy: 0.7388
Epoch 45/50
804/804 [==============================] - 0s 540us/step - loss: 0.5351 - accuracy: 0.7392
Epoch 46/50
804/804 [==============================] - 0s 547us/step - loss: 0.5351 - accuracy: 0.7380
Epoch 47/50
804/804 [==============================] - 0s 531us/step - loss: 0.5347 - accuracy: 0.7386
Epoch 48/50
804/804 [==============================] - 0s 530us/step - loss: 0.5350 - accuracy: 0.7386
Epoch 49/50
804/804 [==============================] - 0s 523us/step - loss: 0.5345 - accuracy: 0.7395
Epoch 50/50
804/804 [==============================] - 0s 515us/step - loss: 0.5339 - accuracy: 0.7386

#### Alternative Model 3

This model also uses the alternatively preprocessed data, uses the `Nadam` optimization function instead of `adam`, but increases the amount of neural layers to 4.

In [66]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
print(number_input_features)

105

In [67]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [68]:
# Define the number of hidden nodes for the hidden layers
hidden_nodes_layer1_A3 = 26
hidden_nodes_layer2_A3 = 16
hidden_nodes_layer3_A3 = 6
hidden_nodes_layer4_A3 = 3

In [69]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [70]:
# First hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer1_A3, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer2_A3, activation="relu"))          
   
# Third hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer3_A3, activation="relu"))          
          
# Fourth hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer4_A3, activation="relu"))               
    
# Output layer
nn_A3.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 26)                2756

 dense_10 (Dense)            (None, 16)                432

 dense_11 (Dense)            (None, 6)                 102

 dense_12 (Dense)            (None, 3)                 21

 dense_13 (Dense)            (None, 1)                 4

=================================================================
Total params: 3,315
Trainable params: 3,315
Non-trainable params: 0
_________________________________________________________________

In [71]:
# Compile the model
nn_A3.compile(loss="binary_crossentropy", optimizer="Nadam", metrics=["accuracy"])

In [72]:
# Fit the model
fit_model_A3 = nn_A3.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 617us/step - loss: 0.5908 - accuracy: 0.7041
Epoch 2/50
804/804 [==============================] - 1s 693us/step - loss: 0.5537 - accuracy: 0.7296
Epoch 3/50
804/804 [==============================] - 1s 672us/step - loss: 0.5491 - accuracy: 0.7302
Epoch 4/50
804/804 [==============================] - 1s 667us/step - loss: 0.5472 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 1s 670us/step - loss: 0.5460 - accuracy: 0.7321
Epoch 6/50
804/804 [==============================] - 1s 760us/step - loss: 0.5450 - accuracy: 0.7338
Epoch 7/50
804/804 [==============================] - 1s 697us/step - loss: 0.5438 - accuracy: 0.7334
Epoch 8/50
804/804 [==============================] - 1s 710us/step - loss: 0.5429 - accuracy: 0.7343
Epoch 9/50
804/804 [==============================] - 1s 717us/step - loss: 0.5426 - accuracy: 0.7353
Epoch 10/50
804/804 [==============================] - 1s 655us/step - loss: 0.5419 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 1s 738us/step - loss: 0.5417 - accuracy: 0.7338
Epoch 12/50
804/804 [==============================] - 1s 674us/step - loss: 0.5412 - accuracy: 0.7351
Epoch 13/50
804/804 [==============================] - 1s 658us/step - loss: 0.5412 - accuracy: 0.7353
Epoch 14/50
804/804 [==============================] - 1s 668us/step - loss: 0.5405 - accuracy: 0.7350
Epoch 15/50
804/804 [==============================] - 1s 671us/step - loss: 0.5403 - accuracy: 0.7361
Epoch 16/50
804/804 [==============================] - 1s 675us/step - loss: 0.5398 - accuracy: 0.7365
Epoch 17/50
804/804 [==============================] - 1s 743us/step - loss: 0.5399 - accuracy: 0.7362
Epoch 18/50
804/804 [==============================] - 1s 707us/step - loss: 0.5399 - accuracy: 0.7368
Epoch 19/50
804/804 [==============================] - 1s 685us/step - loss: 0.5392 - accuracy: 0.7374
Epoch 20/50
804/804 [==============================] - 1s 682us/step - loss: 0.5391 - accuracy: 0.7361
Epoch 21/50
804/804 [==============================] - 1s 667us/step - loss: 0.5384 - accuracy: 0.7366
Epoch 22/50
804/804 [==============================] - 1s 752us/step - loss: 0.5392 - accuracy: 0.7360
Epoch 23/50
804/804 [==============================] - 1s 729us/step - loss: 0.5385 - accuracy: 0.7365
Epoch 24/50
804/804 [==============================] - 1s 697us/step - loss: 0.5388 - accuracy: 0.7372
Epoch 25/50
804/804 [==============================] - 1s 663us/step - loss: 0.5382 - accuracy: 0.7371
Epoch 26/50
804/804 [==============================] - 1s 668us/step - loss: 0.5384 - accuracy: 0.7380
Epoch 27/50
804/804 [==============================] - 1s 665us/step - loss: 0.5376 - accuracy: 0.7364
Epoch 28/50
804/804 [==============================] - 1s 665us/step - loss: 0.5375 - accuracy: 0.7370
Epoch 29/50
804/804 [==============================] - 1s 670us/step - loss: 0.5371 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 1s 676us/step - loss: 0.5370 - accuracy: 0.7384
Epoch 31/50
804/804 [==============================] - 1s 670us/step - loss: 0.5371 - accuracy: 0.7374
Epoch 32/50
804/804 [==============================] - 1s 672us/step - loss: 0.5372 - accuracy: 0.7377
Epoch 33/50
804/804 [==============================] - 1s 677us/step - loss: 0.5373 - accuracy: 0.7369
Epoch 34/50
804/804 [==============================] - 1s 678us/step - loss: 0.5365 - accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 1s 674us/step - loss: 0.5370 - accuracy: 0.7388
Epoch 36/50
804/804 [==============================] - 1s 666us/step - loss: 0.5366 - accuracy: 0.7382
Epoch 37/50
804/804 [==============================] - 1s 688us/step - loss: 0.5365 - accuracy: 0.7385
Epoch 38/50
804/804 [==============================] - 1s 677us/step - loss: 0.5365 - accuracy: 0.7374
Epoch 39/50
804/804 [==============================] - 1s 681us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 40/50
804/804 [==============================] - 1s 667us/step - loss: 0.5360 - accuracy: 0.7383
Epoch 41/50
804/804 [==============================] - 1s 671us/step - loss: 0.5353 - accuracy: 0.7379
Epoch 42/50
804/804 [==============================] - 1s 665us/step - loss: 0.5361 - accuracy: 0.7393
Epoch 43/50
804/804 [==============================] - 1s 695us/step - loss: 0.5357 - accuracy: 0.7385
Epoch 44/50
804/804 [==============================] - 1s 676us/step - loss: 0.5356 - accuracy: 0.7376
Epoch 45/50
804/804 [==============================] - 1s 669us/step - loss: 0.5355 - accuracy: 0.7394
Epoch 46/50
804/804 [==============================] - 1s 666us/step - loss: 0.5353 - accuracy: 0.7386
Epoch 47/50
804/804 [==============================] - 1s 670us/step - loss: 0.5349 - accuracy: 0.7390
Epoch 48/50
804/804 [==============================] - 1s 663us/step - loss: 0.5356 - accuracy: 0.7389
Epoch 49/50
804/804 [==============================] - 1s 663us/step - loss: 0.5350 - accuracy: 0.7392
Epoch 50/50
804/804 [==============================] - 1s 668us/step - loss: 0.5353 - accuracy: 0.7385

### Alternative Preprocessing 2:

This follows the same process as the first alternative preprocessing with dropping irrelevant columns, replacing ranges with their upper values, and taking natural logarithms of the ask amounts and income amounts. However, it attempts to see if a higher rate of accuracy can be achieved by analyzing only funding requests of a 200 thousand dollars or less.

In [73]:
# Preprocessing Alt-2:

In [74]:
# remove STATUS and SPECIAL_CONSIDERATIONS columns, as they appear to have all the same value in them.
applicant_data_df_a2 = applicant_data_df.drop(columns=["STATUS", "SPECIAL_CONSIDERATIONS"])

In [75]:
# review modified dataframe
display(applicant_data_df_a2)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [76]:
# drop all rows with funding requests over $1,000,000
small_funding_df = applicant_data_df_a2.loc[(applicant_data_df_a2["ASK_AMT"] <= 200000)]

In [77]:
# review modified dataframe
small_funding_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34293,T3,CompanySponsored,C1000,Preservation,Association,0,5000,1
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1

In [78]:
# apply natural log scale to ASK_AMT
small_funding_df["ASK_AMT"]=np.log(small_funding_df["ASK_AMT"])

C:\Users\phods\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [79]:
# review modified dataframe
display(small_funding_df)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,8.517193,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,11.595335,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,8.517193,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,8.808668,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,11.867729,1
...,...,...,...,...,...,...,...,...
34293,T3,CompanySponsored,C1000,Preservation,Association,0,8.517193,1
34294,T4,Independent,C1000,ProductDev,Association,0,8.517193,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,8.517193,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,8.517193,0
34297,T5,Independent,C3000,ProductDev,Association,0,8.517193,1

In [80]:
# relabel each income group by the max value it can represent. for 50M+, will use 10 billion, as the highest value asked for in the data set is in the 8 billion range. Used 1 for 0 so log function will work and return 0.
small_funding_df["INCOME_AMT"] = small_funding_df["INCOME_AMT"].replace(["0", "25000-99999", "100000-499999", "1M-5M", "1-9999", "10000-24999", "10M-50M", "5M-10M", "50M+"], [1, 100000, 500000, 5000000, 10000, 25000, 50000000, 10000000, 10000000000])

C:\Users\phods\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [81]:
# review modified dataframe
display(small_funding_df)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,8.517193,1
1,T3,Independent,C2000,Preservation,Co-operative,10000,11.595335,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,8.517193,0
3,T3,CompanySponsored,C2000,Preservation,Trust,25000,8.808668,1
4,T3,Independent,C1000,Heathcare,Trust,500000,11.867729,1
...,...,...,...,...,...,...,...,...
34293,T3,CompanySponsored,C1000,Preservation,Association,1,8.517193,1
34294,T4,Independent,C1000,ProductDev,Association,1,8.517193,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,8.517193,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,8.517193,0
34297,T5,Independent,C3000,ProductDev,Association,1,8.517193,1

In [82]:
# apply natural log to income amounts
small_funding_df["INCOME_AMT"]=np.log(small_funding_df["INCOME_AMT"])

C:\Users\phods\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
# review modified dataframe
display(small_funding_df)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0.000000,8.517193,1
1,T3,Independent,C2000,Preservation,Co-operative,9.210340,11.595335,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0.000000,8.517193,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10.126631,8.808668,1
4,T3,Independent,C1000,Heathcare,Trust,13.122363,11.867729,1
...,...,...,...,...,...,...,...,...
34293,T3,CompanySponsored,C1000,Preservation,Association,0.000000,8.517193,1
34294,T4,Independent,C1000,ProductDev,Association,0.000000,8.517193,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0.000000,8.517193,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0.000000,8.517193,0
34297,T5,Independent,C3000,ProductDev,Association,0.000000,8.517193,1

In [84]:
# reset the index of the small funding dataframe
small_funding_df = small_funding_df.reset_index()

In [85]:
# recapitulation of preprocessing steps taken above, onehot encoding and standard scaler, but for the data with irrelevant columns removed and natural log for income and ask amounts.

In [86]:
# Create a list of categorical variables 
categorical_variables = list(small_funding_df.dtypes[small_funding_df.dtypes=="object"].index)

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION']

In [87]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [88]:
# Encode the categorcal variables using OneHotEncoder
encoded_data_a2 = enc.fit_transform(small_funding_df[categorical_variables])

In [89]:
# Create a DataFrame with the encoded variables
encoded_df_a2 = pd.DataFrame(
    encoded_data_a2,
    columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
display(encoded_df_a2)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T15,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,CLASSIFICATION_C8210,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30892,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
30893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
30894,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
30895,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
30896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [90]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
preprocessed_df_a2 = pd.concat([small_funding_df.drop(columns=categorical_variables), encoded_df_a2], axis=1)

# Review the Dataframe
display(preprocessed_df_a2)

,index,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T15,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,CLASSIFICATION_C8210,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,0,0.000000,8.517193,1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1,9.210340,11.595335,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,2,0.000000,8.517193,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,3,10.126631,8.808668,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,4,13.122363,11.867729,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30892,34293,0.000000,8.517193,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
30893,34294,0.000000,8.517193,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
30894,34295,0.000000,8.517193,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
30895,34296,0.000000,8.517193,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
30896,34297,0.000000,8.517193,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [91]:
# Define the target set y using the IS_SUCCESSFUL column
y = preprocessed_df_a2["IS_SUCCESSFUL"]

# Display a sample of y
display(y)

0        1
1        1
2        0
3        1
4        1
        ..
30892    1
30893    0
30894    0
30895    0
30896    1
Name: IS_SUCCESSFUL, Length: 30897, dtype: int64

In [92]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = preprocessed_df_a2.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
display(X)

,index,INCOME_AMT,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T15,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,CLASSIFICATION_C8210,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,0,0.000000,8.517193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1,9.210340,11.595335,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,2,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,3,10.126631,8.808668,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,4,13.122363,11.867729,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30892,34293,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
30893,34294,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
30894,34295,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
30895,34296,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
30896,34297,0.000000,8.517193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [93]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X2_train, X2_test, y2_train, y2_test = train_test_split(X, y, random_state=1)

In [94]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X2_scaler = scaler.fit(X2_train)

# Fit the scaler to the features training dataset
X2_train_scaled = scaler.transform(X2_train)
X2_test_scaled = scaler.transform(X2_test)

In [95]:
display(pd.DataFrame(X2_train_scaled))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-1.009361,-0.514268,-0.417456,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,0.525482,...,-0.006569,-0.107557,-0.030827,-0.006569,0.468045,-0.448186,-0.682321,-0.094477,-0.032864,0.697994
1,-1.036504,-0.514268,-0.417456,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,0.525482,...,-0.006569,-0.107557,-0.030827,-0.006569,0.468045,-0.448186,1.465586,-0.094477,-0.032864,-1.432677
2,1.354482,-0.514268,-0.417456,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,0.525482,...,-0.006569,-0.107557,-0.030827,-0.006569,0.468045,-0.448186,-0.682321,-0.094477,-0.032864,0.697994
3,0.300620,1.378457,-0.417456,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,-1.903013,...,-0.006569,-0.107557,-0.030827,-0.006569,-2.136549,2.231217,-0.682321,-0.094477,-0.032864,0.697994
4,0.576024,2.182378,2.307249,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,-1.903013,...,-0.006569,-0.107557,-0.030827,-0.006569,-2.136549,2.231217,-0.682321,-0.094477,-0.032864,0.697994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23167,0.170111,-0.514268,-0.417456,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,0.525482,...,-0.006569,-0.107557,-0.030827,-0.006569,0.468045,-0.448186,-0.682321,-0.094477,-0.032864,0.697994
23168,-1.150482,-0.514268,-0.417456,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,0.525482,...,-0.006569,-0.107557,-0.030827,-0.006569,0.468045,-0.448186,1.465586,-0.094477,-0.032864,-1.432677
23169,-0.372942,-0.514268,-0.417456,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,0.525482,...,-0.006569,-0.107557,-0.030827,-0.006569,0.468045,-0.448186,1.465586,-0.094477,-0.032864,-1.432677
23170,-1.705576,-0.514268,-0.417456,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,-1.903013,...,-0.006569,-0.107557,-0.030827,-0.006569,-2.136549,2.231217,1.465586,-0.094477,-0.032864,-1.432677
23171,1.617437,1.851639,2.497463,-0.128949,-0.024587,-0.044111,-0.006569,-0.186018,-0.014691,0.525482,...,-0.006569,-0.107557,-0.030827,-0.006569,0.468045,-0.448186,1.465586,-0.094477,-0.032864,-1.432677

#### Alternative Model 4

This model uses the same neural network structure as the first one, but uses alternatively preprocessed data. Several irrelevant columns were removed, income amounts ranges were replaced with representative values, and income and ask amounts were applied natural log functions before scaling. Only funding requests of 200 thousand dollars or less are considered here. The amount of epochs has also been increased to see if a higher accuracy can be achieved.

In [96]:
# Define the the number of inputs (features) to the model
number_input_features = len(X2_train.iloc[0])

# Review the number of features
display(number_input_features)

100

In [97]:
# Define the number of neurons in the output layer
number_output_neurons_A4 = 1

In [98]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A4 = (number_input_features + number_output_neurons_A4)//2

# Review the number of hidden nodes in the first layer
display(hidden_nodes_layer1_A4)

50

In [99]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A4 = (hidden_nodes_layer1_A4 + number_output_neurons_A4)//2

# Review the number of hidden nodes in the first layer
display(hidden_nodes_layer2_A4)

25

In [100]:
# Create the Sequential model instance
nn_A4 = Sequential()

In [101]:
# First hidden layer
nn_A4.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A4.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))          
          
# Output layer
nn_A4.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A4.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 53)                5353

 dense_15 (Dense)            (None, 27)                1458

 dense_16 (Dense)            (None, 1)                 28

=================================================================
Total params: 6,839
Trainable params: 6,839
Non-trainable params: 0
_________________________________________________________________

In [102]:
# Compile the model
nn_A4.compile(loss="binary_crossentropy", optimizer="Nadam", metrics=["accuracy"])

In [103]:
# Fit the model
fit_model_A4 = nn_A4.fit(X2_train_scaled, y2_train, epochs=100)

Epoch 1/100
725/725 [==============================] - 1s 551us/step - loss: 0.5606 - accuracy: 0.7332
Epoch 2/100
725/725 [==============================] - 0s 547us/step - loss: 0.5376 - accuracy: 0.7438
Epoch 3/100
725/725 [==============================] - 0s 582us/step - loss: 0.5341 - accuracy: 0.7441
Epoch 4/100
725/725 [==============================] - 0s 571us/step - loss: 0.5320 - accuracy: 0.7456
Epoch 5/100
725/725 [==============================] - 0s 582us/step - loss: 0.5301 - accuracy: 0.7457
Epoch 6/100
725/725 [==============================] - 0s 585us/step - loss: 0.5292 - accuracy: 0.7472
Epoch 7/100
725/725 [==============================] - 0s 548us/step - loss: 0.5276 - accuracy: 0.7470
Epoch 8/100
725/725 [==============================] - 0s 554us/step - loss: 0.5266 - accuracy: 0.7479
Epoch 9/100
725/725 [==============================] - 0s 567us/step - loss: 0.5262 - accuracy: 0.7501
Epoch 10/100
725/725 [==============================] - 0s 576us/step - loss: 0.5245 - accuracy: 0.7503
Epoch 11/100
725/725 [==============================] - 0s 549us/step - loss: 0.5235 - accuracy: 0.7506
Epoch 12/100
725/725 [==============================] - 0s 584us/step - loss: 0.5232 - accuracy: 0.7497
Epoch 13/100
725/725 [==============================] - 0s 592us/step - loss: 0.5225 - accuracy: 0.7507
Epoch 14/100
725/725 [==============================] - 0s 611us/step - loss: 0.5225 - accuracy: 0.7506
Epoch 15/100
725/725 [==============================] - 0s 610us/step - loss: 0.5221 - accuracy: 0.7523
Epoch 16/100
725/725 [==============================] - 0s 642us/step - loss: 0.5207 - accuracy: 0.7522
Epoch 17/100
725/725 [==============================] - 0s 553us/step - loss: 0.5205 - accuracy: 0.7533
Epoch 18/100
725/725 [==============================] - 0s 607us/step - loss: 0.5194 - accuracy: 0.7526
Epoch 19/100
725/725 [==============================] - 0s 613us/step - loss: 0.5192 - accuracy: 0.7532
Epoch 20/100
725/725 [==============================] - 0s 615us/step - loss: 0.5184 - accuracy: 0.7548
Epoch 21/100
725/725 [==============================] - 0s 619us/step - loss: 0.5171 - accuracy: 0.7555
Epoch 22/100
725/725 [==============================] - 0s 589us/step - loss: 0.5178 - accuracy: 0.7546
Epoch 23/100
725/725 [==============================] - 0s 620us/step - loss: 0.5164 - accuracy: 0.7551
Epoch 24/100
725/725 [==============================] - 0s 611us/step - loss: 0.5161 - accuracy: 0.7550
Epoch 25/100
725/725 [==============================] - 0s 657us/step - loss: 0.5161 - accuracy: 0.7547
Epoch 26/100
725/725 [==============================] - 0s 570us/step - loss: 0.5155 - accuracy: 0.7547
Epoch 27/100
725/725 [==============================] - 0s 540us/step - loss: 0.5146 - accuracy: 0.7553
Epoch 28/100
725/725 [==============================] - 0s 536us/step - loss: 0.5141 - accuracy: 0.7551
Epoch 29/100
725/725 [==============================] - 0s 538us/step - loss: 0.5139 - accuracy: 0.7563
Epoch 30/100
725/725 [==============================] - 0s 536us/step - loss: 0.5138 - accuracy: 0.7562
Epoch 31/100
725/725 [==============================] - 0s 539us/step - loss: 0.5131 - accuracy: 0.7584
Epoch 32/100
725/725 [==============================] - 0s 544us/step - loss: 0.5129 - accuracy: 0.7580
Epoch 33/100
725/725 [==============================] - 0s 557us/step - loss: 0.5129 - accuracy: 0.7566
Epoch 34/100
725/725 [==============================] - 0s 554us/step - loss: 0.5126 - accuracy: 0.7576
Epoch 35/100
725/725 [==============================] - 0s 553us/step - loss: 0.5115 - accuracy: 0.7564
Epoch 36/100
725/725 [==============================] - 0s 553us/step - loss: 0.5112 - accuracy: 0.7578
Epoch 37/100
725/725 [==============================] - 0s 558us/step - loss: 0.5106 - accuracy: 0.7579
Epoch 38/100
725/725 [==============================] - 0s 575us/step - loss: 0.5104 - accuracy: 0.7584
Epoch 39/100
725/725 [==============================] - 0s 611us/step - loss: 0.5101 - accuracy: 0.7577
Epoch 40/100
725/725 [==============================] - 0s 562us/step - loss: 0.5099 - accuracy: 0.7589
Epoch 41/100
725/725 [==============================] - 0s 555us/step - loss: 0.5100 - accuracy: 0.7594
Epoch 42/100
725/725 [==============================] - 0s 549us/step - loss: 0.5093 - accuracy: 0.7574
Epoch 43/100
725/725 [==============================] - 0s 590us/step - loss: 0.5091 - accuracy: 0.7590
Epoch 44/100
725/725 [==============================] - 0s 555us/step - loss: 0.5088 - accuracy: 0.7586
Epoch 45/100
725/725 [==============================] - 0s 592us/step - loss: 0.5087 - accuracy: 0.7595
Epoch 46/100
725/725 [==============================] - 0s 594us/step - loss: 0.5086 - accuracy: 0.7593
Epoch 47/100
725/725 [==============================] - 0s 582us/step - loss: 0.5077 - accuracy: 0.7608
Epoch 48/100
725/725 [==============================] - 0s 596us/step - loss: 0.5072 - accuracy: 0.7598
Epoch 49/100
725/725 [==============================] - 0s 676us/step - loss: 0.5076 - accuracy: 0.7606
Epoch 50/100
725/725 [==============================] - 0s 588us/step - loss: 0.5071 - accuracy: 0.7605
Epoch 51/100
725/725 [==============================] - 0s 557us/step - loss: 0.5069 - accuracy: 0.7601
Epoch 52/100
725/725 [==============================] - 0s 591us/step - loss: 0.5065 - accuracy: 0.7598
Epoch 53/100
725/725 [==============================] - 0s 570us/step - loss: 0.5064 - accuracy: 0.7595
Epoch 54/100
725/725 [==============================] - 0s 542us/step - loss: 0.5054 - accuracy: 0.7607
Epoch 55/100
725/725 [==============================] - 0s 552us/step - loss: 0.5054 - accuracy: 0.7600
Epoch 56/100
725/725 [==============================] - 0s 541us/step - loss: 0.5062 - accuracy: 0.7594
Epoch 57/100
725/725 [==============================] - 0s 552us/step - loss: 0.5047 - accuracy: 0.7603
Epoch 58/100
725/725 [==============================] - 0s 552us/step - loss: 0.5049 - accuracy: 0.7600
Epoch 59/100
725/725 [==============================] - 0s 557us/step - loss: 0.5054 - accuracy: 0.7605
Epoch 60/100
725/725 [==============================] - 0s 558us/step - loss: 0.5044 - accuracy: 0.7610
Epoch 61/100
725/725 [==============================] - 0s 558us/step - loss: 0.5048 - accuracy: 0.7604
Epoch 62/100
725/725 [==============================] - 0s 569us/step - loss: 0.5041 - accuracy: 0.7601
Epoch 63/100
725/725 [==============================] - 0s 555us/step - loss: 0.5041 - accuracy: 0.7605
Epoch 64/100
725/725 [==============================] - 0s 562us/step - loss: 0.5044 - accuracy: 0.7609
Epoch 65/100
725/725 [==============================] - 0s 579us/step - loss: 0.5039 - accuracy: 0.7618
Epoch 66/100
725/725 [==============================] - 0s 600us/step - loss: 0.5030 - accuracy: 0.7605
Epoch 67/100
725/725 [==============================] - 0s 594us/step - loss: 0.5033 - accuracy: 0.7620
Epoch 68/100
725/725 [==============================] - 0s 580us/step - loss: 0.5030 - accuracy: 0.7601
Epoch 69/100
725/725 [==============================] - 0s 576us/step - loss: 0.5029 - accuracy: 0.7599
Epoch 70/100
725/725 [==============================] - 0s 577us/step - loss: 0.5026 - accuracy: 0.7623
Epoch 71/100
725/725 [==============================] - 0s 615us/step - loss: 0.5025 - accuracy: 0.7604
Epoch 72/100
725/725 [==============================] - 0s 581us/step - loss: 0.5025 - accuracy: 0.7619
Epoch 73/100
725/725 [==============================] - 0s 577us/step - loss: 0.5022 - accuracy: 0.7617
Epoch 74/100
725/725 [==============================] - 0s 590us/step - loss: 0.5021 - accuracy: 0.7615
Epoch 75/100
725/725 [==============================] - 0s 556us/step - loss: 0.5015 - accuracy: 0.7624
Epoch 76/100
725/725 [==============================] - 0s 595us/step - loss: 0.5017 - accuracy: 0.7623
Epoch 77/100
725/725 [==============================] - 0s 551us/step - loss: 0.5011 - accuracy: 0.7615
Epoch 78/100
725/725 [==============================] - 0s 588us/step - loss: 0.5017 - accuracy: 0.7602
Epoch 79/100
725/725 [==============================] - 0s 552us/step - loss: 0.5011 - accuracy: 0.7625
Epoch 80/100
725/725 [==============================] - 0s 551us/step - loss: 0.5010 - accuracy: 0.7612
Epoch 81/100
725/725 [==============================] - 0s 550us/step - loss: 0.5011 - accuracy: 0.7630
Epoch 82/100
725/725 [==============================] - 0s 571us/step - loss: 0.5006 - accuracy: 0.7614
Epoch 83/100
725/725 [==============================] - 0s 556us/step - loss: 0.5000 - accuracy: 0.7622
Epoch 84/100
725/725 [==============================] - 0s 601us/step - loss: 0.5009 - accuracy: 0.7625
Epoch 85/100
725/725 [==============================] - 0s 586us/step - loss: 0.5000 - accuracy: 0.7613
Epoch 86/100
725/725 [==============================] - 0s 576us/step - loss: 0.4995 - accuracy: 0.7626
Epoch 87/100
725/725 [==============================] - 0s 579us/step - loss: 0.4988 - accuracy: 0.7629
Epoch 88/100
725/725 [==============================] - 0s 539us/step - loss: 0.4994 - accuracy: 0.7641
Epoch 89/100
725/725 [==============================] - 0s 581us/step - loss: 0.4995 - accuracy: 0.7632
Epoch 90/100
725/725 [==============================] - 0s 620us/step - loss: 0.4989 - accuracy: 0.7634
Epoch 91/100
725/725 [==============================] - 0s 546us/step - loss: 0.4991 - accuracy: 0.7634
Epoch 92/100
725/725 [==============================] - 0s 587us/step - loss: 0.4986 - accuracy: 0.7641
Epoch 93/100
725/725 [==============================] - 0s 552us/step - loss: 0.4988 - accuracy: 0.7643
Epoch 94/100
725/725 [==============================] - 0s 544us/step - loss: 0.4984 - accuracy: 0.7641
Epoch 95/100
725/725 [==============================] - 0s 577us/step - loss: 0.4983 - accuracy: 0.7637
Epoch 96/100
725/725 [==============================] - 0s 572us/step - loss: 0.4985 - accuracy: 0.7639
Epoch 97/100
725/725 [==============================] - 0s 553us/step - loss: 0.4979 - accuracy: 0.7629
Epoch 98/100
725/725 [==============================] - 0s 590us/step - loss: 0.4978 - accuracy: 0.7635
Epoch 99/100
725/725 [==============================] - 0s 549us/step - loss: 0.4982 - accuracy: 0.7637
Epoch 100/100
725/725 [==============================] - 0s 570us/step - loss: 0.4977 - accuracy: 0.7637

### Display the accuracy scores achieved by each model, and compare the results.

In [104]:
print("Original Model Results")

# Display the model loss and accuracy results calculated above
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
Loss: 0.5573562979698181, Accuracy: 0.7317784428596497

In [105]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_a1, model_accuracy_a1 = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_a1}, Accuracy: {model_accuracy_a1}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5502 - accuracy: 0.7299 - 156ms/epoch - 581us/step
Loss: 0.5502397418022156, Accuracy: 0.729912519454956

In [106]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_a2, model_accuracy_a2 = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_a2}, Accuracy: {model_accuracy_a2}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5545 - accuracy: 0.7307 - 136ms/epoch - 508us/step
Loss: 0.5545194745063782, Accuracy: 0.7307288646697998

In [107]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_a3, model_accuracy_a3 = nn_A3.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_a3}, Accuracy: {model_accuracy_a3}")

Alternative Model 3 Results
268/268 - 0s - loss: 0.5489 - accuracy: 0.7336 - 146ms/epoch - 544us/step
Loss: 0.5488500595092773, Accuracy: 0.7336443066596985

In [108]:
print("Alternative Model 4 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_a4, model_accuracy_a4 = nn_A4.evaluate(X2_test_scaled, y2_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_a4}, Accuracy: {model_accuracy_a4}")

Alternative Model 4 Results
242/242 - 0s - loss: 0.5510 - accuracy: 0.7406 - 126ms/epoch - 522us/step
Loss: 0.5510197281837463, Accuracy: 0.7405825257301331

### Save the alternative models as HDF5 files.

In [109]:
# Set the file path for the first alternative model
file_path = Path("./AlphabetSoupA1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [110]:
# Set the file path for the second alternative model
file_path = Path("./AlphabetSoupA2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)

In [111]:
# Set the file path for the third alternative model
file_path = Path("./AlphabetSoupA3.h5")

# Export your model to a HDF5 file
nn_A3.save(file_path)

In [112]:
# Set the file path for the fourth alternative model
file_path = Path("./AlphabetSoupA4.h5")

# Export your model to a HDF5 file
nn_A4.save(file_path)